* {
    box-sizing: border-box;
}

/*body {
    background-color: #5E1224;
}*/

#button {
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

.header {
    overflow: hidden;
    background-image: url("/friden-header.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
}

#logga {
    height: 30px;
    margin: 40px;
}

#order-header:hover {
    background-color: lightgray;
    color: black;
}

#booktable-header:hover {
    background-color: lightgray;
    color: black;
}

.header a.open {
    background-color: black;
    color: white;
}

#welcome {
    text-align: center;
}

#pizzapicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textStart {
    width: 500px;
    border: 15px solid green;
    padding: 20px;
    margin: 20px;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
  }