* {
    box-sizing: border-box;
}

#button {
    cursor: pointer;
}

#button:hover {
    background-color: lightgray;
}

.header {
    overflow: hidden;
    background-image: url("/friden-header.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 25px;
    border-radius: 4px;
}

#logga {
    height: 30px;
    margin: 40px;
}

#order-header:hover {
    background-color: lightgray;
    color: black;
}

#booktable-header:hover {
    background-color: lightgray;
    color: black;
}

.header a.open {
    background-color: black;
    color: white;
}

.drop-button {
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    line-height: 25px;
}

#newspaper-id {
    float: right;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    line-height: 25px;
}

#newspaper-id:hover {
    background-color: lightgray;
    color: black;
}

.drop-button:hover {
    background-color: lightgray;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgray;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: lightgray;
}

.show {
    display: block;
}

#welcome {
    text-align: center;
}

#pizzapicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
}

.textStart {
    width: 500px;
    border: 15px solid darkgray;
    padding: 20px;
    margin: 20px;
    float: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
}

#orderForm {
    width: 500px;
    border: 5px solid darkgray;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 30%;
}

#orderList {
    text-align: center;
    font-family: sans-serif;
}

#order-list {
    width: 500px;
    border: 5px solid darkgray;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 30%;
}

#bookingForm {
    width: 500px;
    border: 5px solid darkgray;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 30%;
}

#bookingList {
    text-align: center;
    font-family: sans-serif;
}

#booking-list {
    width: 500px;
    border: 5px solid darkgray;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 30%;
}